@import "../mixins";

.about {
  &-objectives {
    margin-top: 20px;
    margin-bottom: 50px;
    opacity: 0.8;
    font-style: italic;
    font-size: 14px;
  }

  &-info {
    @include flexColumn(center, center);
    padding: 20px;
    padding-bottom: 60px;
    position: relative;
    background-clip: padding-box;
    border: 8px solid transparent;
    background-color: rgba(9, 12, 43, 0.7);
    border-radius: 100rem;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      margin: -8px;
      border-radius: inherit;
      background: linear-gradient(to right bottom, #9055FF, #13E2DA);
    }

    &-avatar {
      border-radius: 50%;
      overflow: hidden;
      max-width: 300px;
      max-height: 300px;
    }

    &-inner {
      @include flexColumn(center, center);

      p {
        opacity: 0.7;
        font-size: 13px;
      }

      span,
      a {
        font-weight: 600;
        font-size: 15px;
      }
    }
  }

  &-edu {
    @include flexColumn(center, flex-start, 35px);
    backdrop-filter: blur(3px);

    &-title {
      font-size: 30px;

      @media (max-width:600px) {
        font-size: 25px;
      }
    }

    &-item {
      position: relative;
      padding-left: 30px;
      border-left: 2px solid #13E2DA;
      width: 100%;

      &-course {
        @include flexRow(space-between, flex-start);

        span {
          padding: 10px 20px;
          background: linear-gradient(to right bottom, rgba(202, 94, 238, 0.7), rgba(75, 225, 236, 0.7));
          font-size: 14px;
          border-radius: 6px;
        }
      }

      &-major {
        margin: 5px 0;
        padding-left: 20px;

        li {
          font-size: 15px;
          position: relative;
          margin: 5px 0;

          &::before {
            content: '';
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #fff;
          }
        }
      }

      &-intro {
        margin: 20px 0;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
      }

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        left: -12px;
        top: 0;
        background: linear-gradient(to bottom, #9055FF, #13E2DA);
        z-index: 1;
      }
    }
  }
}