@keyframes upping {
  to {
    transform: translateY(-20px) rotate(-2deg);
  }
}

@keyframes textRunning {

  0%,
  100% {
    width: 0;
  }

  50%,
  90% {
    width: 100%;
  }
}

@keyframes blinking {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: #fff;
  }
}

@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes scrollAnimation {
  25% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}