* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-image: url('assets/background-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

section {
  padding-top: 80px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

a:-webkit-any-link {
  color: unset;
}